# .vscode/
# vendor/
# build/
# scripts/
# tmp/

# # test data
# tests
# doc

# # debug
# debug
# debug.test

# # binaries
# mordo
# pkg

# terraform

# # OS
# .DS_Store

*
!go.mod
!go.sum
!base
!config
!function
!helpers
!img
!io
!tests
!tests/watermark.png
