aws_access_key = ""
aws_secret_key = ""
aws_region = "us-west-1"

prefix = "demo"

s3_buckets = [
  "dev-mordo-images",
]

s3_bucket_deploy = "mordo-deploy"
s3_bucket_prc = "mordo-images-processed"
s3_bucket_prc_lifecycle = "true"
s3_bucket_prc_lifecycle_expire = "3"

lambda_concurrency = 5
lambda_timeout = 10
lambda_memory = 512
lambda_DEBUG = "true"
lambda_WATERMARK = "true"
lambda_WATERMARK_PATH = "watermark.png" 
lambda_WATERMARK_SCALE = "0.3"
lambda_IMAGE_QUALITY = "90"
lambda_IMAGE_LOSSLESS = "true"
lambda_IMAGE_COMPRESSION = "6"
lambda_IMAGE_ENLARGE = "false"

apigw_throttling_rate_limit = 10
apigw_throttling_burst_limit = 5

cf_price_class = "PriceClass_200"
cf_min_ttl = 0
cf_default_ttl = 87000